/*/////////////////////////////////////*/
/* Aquí pondremos todo el código relacionado
con las páginas de eventos y sus subpáginas */
/* ////////////////// */
/*       EVENTOS      */
/* ////////////////// */
.eventos-disponibles {
    padding: 40px 20px;
    background-color: #ffffff;
    color: var(--cl-black);
    max-width: 1200px;
    margin: 0 auto;
}
.eventos-disponibles__titulo {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 2rem;
}
.eventos-disponibles__subtitulo {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat-Regular';
}
.eventos-disponibles__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.evento-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 250ms;
}
.evento-card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d0cbe9;
    background-color: var(--cl-selection);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
.evento-card__info {
    background-color: var(--cl-white);
    width: 100%;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: 250ms;
    opacity: .8;
}
.evento-card__texto {
    font-family: 'Montserrat-Regular';
    font-weight: 900;
    margin: 0 10px 16px 10px;
    transition: 250ms;
    color: var(--cl-selection);
    transform: translateY(20px);
}
.evento-card__boton {
    background-color: var(--cl-white-oscure);
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
    transition: 450ms;
    transform: translateY(20px);
    opacity: 0;
}
/* ---- */
.evento-card:hover .evento-card__info {
    padding: 1rem 0;
    opacity: 1;
}
.evento-card:hover .evento-card__texto,
.evento-card:hover .evento-card__boton {
    transform: translateY(0px);
    opacity: 1;
}

.evento-card__boton:hover {
    background-color: var(--cl-selection);
}
.eventos-disponibles__vermas-container {
    text-align: center;
    float: right;
}
.eventos-disponibles__vermas {
    background-color: #a35cf8;
    color: white;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 999px;
    font-weight: bold;
    font-family: 'Montserrat-Regular';
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
}
.eventos-disponibles__vermas:hover {
    background-color: var(--cl-selection-oscure);
}
.eventos-disponibles__vermas:hover span {
    position: relative;
    left: 5px;
}

.card__img{
    background-size: cover;
    background-position: center;
}
/* Portadas Lo más buscado */
.card__img1 {
    background-image: url(../IMG/Exp_inm_Ikono_Bcn.jpg);
}
.card__img2 {
    background-image: url(../IMG/Exp_inm_Candelight.jpg);
}
.card__img3 {
    background-image: url(../IMG/Exp_inm_Goya.jpg);
}
.card__img4 {
    background-image: url(../IMG/Exp_VR_World_Lab.jpg);
}

/* Portadas Eventos gratuitos */
.card__img5 {
    background-image: url(../IMG/Exp_dinos.jpg);
}
.card__img6 {
    background-image: url(../IMG/Exp_antartida.jpg);
}
.card__img7 {
    background-image: url(../IMG/Exp_petra.jpg);
}
.card__img8 {
    background-image: url(../IMG/Exp_leonardo.jpg);
}

/* Portadas Mejores precios */
.card__img9 {
    background-image: url(../IMG/Exp_aventurico_tetuan.jpg);
}
.card__img10 {
    background-image: url(../IMG/Exp_titanic.jpg);
}
.card__img11 {
    background-image: url(../IMG/Exp_simracing.jpg);
}
.card__img12 {
    background-image: url(../IMG/Exp_magia.jpg);
}

/*/////////////////////////////////////*/
/*               MEDIA                 */
/*/////////////////////////////////////*/
/*-------------------------------------*/
/*               EXTRAS                */
/*-------------------------------------*/

/*-------------------------------------*/
/*               TABLET                */
/*-------------------------------------*/
@media only screen and (max-width: 992px){
    .eventos-disponibles__grid {
        grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    }
}
/*-------------------------------------*/
/*                MOVIL                */
/*-------------------------------------*/
@media only screen and (max-width: 770px){
    #contPortada {
        min-height: 85vh;
    }
    .sphere1 {
        width: 434px;
        height: 434px;
    }
    /* Eventos */
    .eventos-disponibles__titulo,
    .eventos-disponibles__subtitulo{
        text-align: center;
    }    
    .eventos-disponibles__vermas-container{
        float: none;
    }
    .eventos-disponibles__grid {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
}