/*/////////////////////////////////////*/
/* TODA LA ESTRUCTURA BÁSICA DE LA WEB */
/*/////////////////////////////////////*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    scroll-behavior: smooth;
}
*::selection{
    color: var(--cl-blanco);
    background: var(--cl-selection);
}
/*/////////////////////////////////////*/
/*                BODY                 */
/*/////////////////////////////////////*/
body{
	font-family: Montserrat-Black;
	font-size: 1em;
    color: var(--cl-negro);
}
/*/////////////////////////////////////*/
/*                ROOT                 */
/*/////////////////////////////////////*/
:root{

	/*basic colors*/
    --cl-blanco: #f3f2f2;
    --cl-negro: #1b1b1d;
    --cl-selection: #a35cf8;
}
/*/////////////////////////////////////*/
/*               LOGIN                 */
/*/////////////////////////////////////*/
#contForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contTitle{
    width: 45%;
    display: flex;
    justify-content: space-around;
}

#contInputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hrPadding{
    padding: 0 25%;
    margin: 25px;
}

#titleLogin h2{
    font-weight: 600;
    font-size: 2em;
}
#titleLogin h2:nth-child(2){
    text-align: end;
}

/*             BUTTONS             */

.btnNext{
    border: none;
    background-color: var(--cl-blanco);
}
#contSession{
    display: flex;
    align-items: center;
}