/*/////////////////////////////////////*/
/* TODA LA ESTRUCTURA BÁSICA DE LA WEB */
/*/////////////////////////////////////*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    scroll-behavior: smooth;
}
*::selection{
    color: var(--color-blanco);
    background: var(--color-selection);
}
/*/////////////////////////////////////*/
/*                BODY                 */
/*/////////////////////////////////////*/
body{
	font-family: Montserrat;
	font-size: 16px;
}
/*/////////////////////////////////////*/
/*                ROOT                 */
/*/////////////////////////////////////*/
:root{

	/*basic colors*/
    --color-blanco: #f3f2f2;
    --color-negro: #1b1b1d;
    --color-selection: #a35cf8;
}


