/*/////////////////////////////////////*/
/* TODA LA ESTRUCTURA BÁSICA DE LA WEB */
/*/////////////////////////////////////*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    scroll-behavior: smooth;
}
*::selection{
    color: var(--cl-blanco);
    background: var(--cl-selection);
}
/*/////////////////////////////////////*/
/*                BODY                 */
/*/////////////////////////////////////*/
body{
	font-family: Montserrat-Black;
	font-size: 1em;
}
/*/////////////////////////////////////*/
/*                ROOT                 */
/*/////////////////////////////////////*/
:root{

	/*basic colors*/
    --cl-blanco: #f3f2f2;
    --cl-negro: #1b1b1d;
    --cl-selection: #a35cf8;
}
/*/////////////////////////////////////*/
/*               LOGIN                 */
/*/////////////////////////////////////*/
.cl-black{
    color: var(--cl-negro);
}

#titleLogin h2{
    font-weight: 600;
    font-size: 2em;
}
